.parent-container{
	display:flex;
	flex-direction: row;
	justify-content: center;
}

.products-container{
	flex:1;
	margin-right:20px;
	max-width: 800px;
}
.items-count-and-total-container{
	display:flex;
	flex-direction: row;
	color: snow;
    font-weight: bold;
    font-size: 1.4em;
    padding: 10px;
    border-radius: 4px;
    background: cadetblue;
}
.count{
	flex:1;
}
.product-card{
	display:flex;
	flex-direction: column;
	border:1px solid grey;
	border-radius:8px;
	padding:10px;
	margin-top: 30px;
    background: cadetblue;
}
.product-card p,.product-card label{
	color: snow;
    font-weight: bold;
    font-size: 1.2em;
}
.product-info{
	display:flex;
	flex-direction: row;
}
.product-options{
	display:flex;
	flex-direction: row;
	margin-top:16px;
}

.product-options>input{
	flex:1;
	margin:5px;
}
.product-details{
	display:flex;
	flex-direction: column;
	flex:1;
}
.product-name-and-price{
	display:flex;
	flex-direction:row;
}
.product-attributes{
	display:flex;
	flex-direction: row;
	margin-top:20px;
}
.order-total-container{
	display:flex;
	flex-direction: column;
	align-self: flex-start;
    padding: 10px;
    background: cadetblue;
    font-size: 1.1em;
    font-weight: bold;
    color: snow;
	
}
.order-total-container>div{
	display:flex;
	flex-direction: row;
	margin-top:20px;
}
.order-total-container>input{
	margin-top:20px;
}
.flex-one{
	flex:1;
}

.margin-right{
	margin-right: 40px;
}

.input-button{
	padding:10px;
	color:white;
	border:none;
	border-radius:4px;
	letter-spacing:1px;
	font-size:14px;
	font-weight:600;
	cursor: pointer;
	text-transform: uppercase;
}

.red-background{
	background-color: red;
}
.green-background{
	background-color: green;
}

.product-image{
	height:200px;
}

.empty-cart{
	text-align: center;
    margin: 50px;
    color: snow;
    font-weight: bold;
    font-size: 1.4em;
}