.header-container{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	background-color:#946000;
	color: gray;
	padding:10px;;
}

.header-item{
	align-self:center;
	padding:10px;
	margin-right: 20px;
	border-radius:0.5vw;
}

.customize-font-color{
	color:snow;
	cursor: pointer;
}

.customize-font-size{
	font-size: 1.4vw;
}

.header-item:hover{
	background-color:#bd7b00;
	transition:0.4s;
}

.search-bar-container{
	display:flex;
	flex-direction:row;
	flex:1;
	align-self: center;
	background-color:white;
	padding:10px;
	border-radius: 8px;
}

.search-bar-container>input{
	align-self:center;
	background-color:transparent;
	border:none;
	caret-color:#F9D342;
	font-size: 16px;
}
.search-bar-container>input:focus {
	outline:none;
}

.flex-vertical-center{
	display:flex;
	flex-direction: column;
}

.align-center{
	align-self: center;
}

.default-font{
	font-size: 1vw;
}

.cart-items-count{
	position:absolute;
	margin-left:30px;
	margin-top:-6px;
}

.profile:hover .profile-container{
	display:block;
	transition:0.4s;
}

.profile-container{
	position:absolute;
	display:none;
	width: max-content;
	background-color:#bd7b00;
	padding:30px;
	border-radius:8px;
	z-index: 99;
}

.anchor-design{
	border:2px solid #946000;
	padding:10px;
	border-radius: 6px;
	text-decoration: none;
}

.anchor-design:hover{
	transition:0.4s;
	background-color:#946000;
}

.profile-items-container{
	display:flex;
	flex-direction: column;
}