.header-container{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	background-color:#946000;
	color: gray;
	padding:10px;;
}

.item{
	align-self:center;
	padding:10px;
	margin-right: 20px;
	border-radius:0.5vw;
	color:snow;
	font-size: 1.4vw;
}

.item:hover{
	background-color:#bd7b00;
	transition:0.4s;
}

.search-bar-container{
	display:flex;
	flex-direction:row;
	flex:1;
	align-self: center;
	background-color:white;
	padding:10px;
	border-radius: 8px;
}

input{
	align-self:center;
	background-color:transparent;
	border:none;
	caret-color:#F9D342;
	font-size: 16px;
}
input:focus {
	outline:none;
}

.flex-vertical-center{
	display:flex;
	flex-direction: column;
}

.align-center{
	align-self: center;
}

.default-font{
	font-size: 1vw;
}