@charset "ISO-8859-1";

.items-container{
	display:grid;
	grid-template-columns:20% 20% 20% 20% 20%;
}

.items-container img{
	width: 100%;
}

.image-card{
	margin:10px;
}
.custom-heading{
	text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size:1.8em;
    margin-top: 90px;
    margin-left: 20px;
}
.container{
	margin-top:20px;
}